@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-Heavy.otf');
}

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #15202B;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #15202B;
  }
  
  .title {
    font-family: "Mont";
    font-size: 22px;
    margin: 20px;
  }
  
  .register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    background-color: white;
    margin-bottom: 15px;
    color: black;
    border-radius: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    cursor: pointer;
    border: none;
  }
  
  .input {
    height: 40px;
    width: 200px;
    margin-bottom: 15px;
    border: 1px rgb(114, 131, 148) solid;
    border-radius: 3px;
    background-color: #15202B;
    font-weight: 600;
    padding: 10px;
    color: white;
  }
  
  .input:focus {
    outline: none;
    background-color: #15202B;
  }